<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div>
        Login
    </div><br>
    <input type="text" placeholder="Enter user name"><br>
    <input type="number" placeholder="Enter user ID"><br>
    <input id="bio" type="text" placeholder="Enter About Yorself(Limit:350 words)"><br>
    <input type="image" placeholder="Upload your image"><br>
    <label for="Location">Choose your City:</label> 
    <select name="City-names" id="City-names"> 
        <option value="Banglore">Banglore</option> 
        <option value="Delhi">Delhi</option> 
        <option value="Chennai">Chennai</option> 
        <option value="Lucknow">Lucknow</option> 
    </select>
</body>
</html>
