{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{%static 'signup.css'%}">
</head>
<body>
   
    <div>

        <div>
            <style>
                h5{
                    colors: red;
                }
            </style>
            {% for message in messages %}
            <h5>{{messaeg}}</h5>
            {% endfor %}
        </div>

        <form action="" method="POST">
        {%csrf_token%} 

        <div>
           Sign up 
        </div><br>

        <input type="text" name="username" placeholder="Enter Username: "><br>
        <input type="email" name="email" placeholder="Enter Email: "><br>
        <input type="password" name="password" placeholder="Enter Password: "><br> 
        <input type="password" name="password2" placeholder="Confirm Password: "><br>
    
    <!-- <form action="#" method="post" enctype="multipart/form-data">
        <label for="imageInput">Choose an image:</label>
        <input type="file" id="imageInput" name="imageInput" accept="image/*">
        <button type="submit">Upload</button>
    </form> 

    <label for="Location">Choose your City:</label> 
    <input type="text" list="Location" name="Location">  -->  
   
            <button type="submit">Sign Up</button>
            <div>
                <p>Already have an account? </p>
            </div>    
        
        </form>

    </div>
</body>
</html>
